.msgAlertLogin {
    position: fixed; 
    bottom: 2%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 9999; 
    min-width: 400px; 
    text-align: center;
    animation: fadeOut 5s forwards; /* 5 segundos para desaparecer */
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none; /* Esconde o elemento completamente após a animação */
    }
  }