.forms{
    width: 40vh;
    margin: 12% 0% 0% 40%;
    height: 40vh;
    padding: 2%;
    padding-top: 3%;
    border-radius: 20px;
    background-color: rgb(70, 81, 70);
    text-align: center;
    box-shadow: 5px 10px black;
}
.input1{
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.inputbutton{
    margin-top: 5px;
    padding: 10px;
    height: 20px;
    
}
#buttonColor{
    color: green;
}